@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login-box">
    <div class="login-logo">
        <a href="@Url.Action("Index", "Login")"><b>Boleta Electronica</b> EKT</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <div id="hidenForgotPassword">
                <p class="login-box-msg">Ingrese su correo para enviarle las instrucciones y recupere su clave.</p>
                <form action="recover-password.html" method="post">
                    <div class="input-group mb-3">
                        <input type="email" id="txtcorreo" class="form-control" placeholder="Correo electrónico">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="button" id="BtnforgotPassword" class="btn btn-primary btn-block">Solicitar nueva clave</button>
                        </div>
                        <!-- /.col -->
                    </div>

                </form>
            </div>
            <p class="mt-3 mb-1">
                <a href="@Url.Action("Index", "Login")">Iniciar Sesión</a>
            </p>
            <p class="mb-0">
                <a href="@Url.Action("Register", "Login")" class="text-center">Registrarse</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

@section scripts{
    <script src="@Url.Content("~/js/ForgotPassword.js")"></script>

}

